.checkout_form {
    clear: both;
    width: 100%;
}
.checkout_table {
    width: 90%;
}
.checkout_table td {
    width: 25%;
}
.checkout_table tr {
    width: 100%;
}
.checkout_table input{
    width: 100%;
}
#name {
    width: 90%;
}
#phone {
    width: 90%;
}
#email {
    width: 90%;
}
#address {
    width: 90%;
}
.form_button {
    color: blue;
}